%h1
  hello world!
- @stories.each do |story|
  %ul
    %li
      = link_to story.body, story_path(story.id)
      %span.pull-right
        = story.created_at.to_s(:short)
        rate:
        / - if story.rate != 0
        = story.rate