%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button{type: "button", class: "navbar-toggle", dataToggle:"collapse", dataTarget: "#bs-example-navbar-collapse-1", ariaExpanded: "false"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"}
        6WordsStories
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          %a{:href => "/stories/new"}
            new story